<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="F:/QA Project/Web Automation/WebAutomationTaskBlueBay/src/test">
        <classes>
            <class name="testcases.TestLoginPage">
                <methods>
                    <include name="LoginWithValidCredentials"/>
                </methods>
            </class>
            <class name="testcases.TestStudentPage">
                <methods>
                    <include name="setupStudentPage"/>
                    <include name="addNewStudent"/>
                    <include name="EditAStudent"/>
                    <include name="DeleteAStudent"/>
                </methods>
            </class>
            <class name="testcases.TestProviderPage">
                <methods>
                    <include name="GotoAddProviderPage"/>
                    <include name="CreateProviderWithEmptyData"/>
                    <include name="CreateProviderWithInvalidEmail"/>
                    <include name="createProviderWithValidData"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>